{% extends "base.html" %}
{% block content %}
     <h3 style="margin: 20px;direction: rtl"><span id="hashtag"># </span>اعضای هیات علمی دانشکده کامپیوتر</h3>
    <div class="prof">
        <div class="avatar" style="background-image: url(../static/res/img/ahmadifar.jpg)"></div>
        <div class="bio">
            <h2>حمیدرضا احمدی فر</h2>
            <br>

            <p>آخرین مدرک تحصیلی : 1392- دکتری- دانشگاه شهید بهشتی تهران.</p>
            <br>

            <p>مدیر گروه مهندسی کامپیوتر دانشکده فنی و پردیس دانشگاهی - مدیر گروه مهندسی کامپیوتر و فناوری اطلاعات
                دوره مجازی از شهریور 1393 تا کنون</p>
        </div>
    </div>
    </div>

    <div class="prof">
        <div class="avatar" style="background-image: url(../static/res/img/shakeri.jpg)"></div>
        <div class="bio">
            <h2>دکتر مجتبی شاکری</h2>
            <br>

            <p>دکتری مهندسی کامپیوتر گرایش هوش مصنوعی از دانشگاه تکنولوژی نانیانگ سنگاپور 1392</p>
            <br>

            <p>طراحی الگوریتم های فراابتکاری، تحقیق در عملیات، طراحی و بهینه سازی زنجیره عرضه، داده کاوی پزشکی، تجارت الکترونیک
</p>
        </div>
    </div>
    </div>

    <div class="prof">
        <div class="avatar" style="background-image: url(../static/res/img/atani.jpg)"></div>
        <div class="bio">
            <h2>دکتر رضا ابراهیمی آتانی</h2>
            <br>

            <p>دكترای مهندسی برق - الکترونیک از دانشگاه علم و صنعت ايران (1389) - درجه عالی</p>
            <br>

            <p>طراحی، تحلیل و پیاده سازی الگوریتم ها و پروتکل های رمزنگاری و امنیتی و کاربرد های آنها در شبکه های کامپیوتری و بیسیم</p>
        </div>
    </div>
    </div>

    <div class="prof">
        <div class="avatar" style="background-image: url(../static/res/img/mir.jpg)"></div>
        <div class="bio">
            <h2>سیدابوالقاسم میرروشندل</h2>
            <br>

            <p>graduated with a BS in computer engineering from the ECE school of University of Tehran in 2005 and then graduated with an MS in computer engineering from the Sharif University of Technology in 2007.</p>
            <br>

            <p>assistant professor in computer engineering department at university of Guilan from October 2012.</p>
        </div>
    </div>
    </div>

    <div class="prof">
        <div class="avatar" style="background-image: url(../static/res/img/aminian.jpg)"></div>
        <div class="bio">
            <h2>دکتر مهدی امینیان</h2>
            <br>

            <p>دكترا: مهندسي برق، دانشگاه فدرال لوزان سوئیس (EPFL)</p>
            <br>

            <p>طراحی کامپیوتری سیستم های دیجیتال</p>
        </div>
    </div>
    </div>

    <div class="prof">
        <div class="avatar" style="background-image: url(../static/res/img/shekarian.jpg)"></div>
        <div class="bio">
            <h2>سید محمـد حسین شکریان</h2>
            <br>

            <p>اخذ مدرک دکتری از دانشگاه صنعتی امیرکبیر (در 1394)
</p>
            <br>

            <p>امنیت وقابلیت اعتماد در سخت‌افزار (Hardware Security and Trust)، طراحی خودکار سخت‌افزار و مدارهای مجتمع (Computer-Aided VlSI and Hardware Design)، تحمل‌پذیری اشکال (Fault Tolerance) و آزمون (Test)</p>
        </div>
    </div>
    </div>
{% endblock %}