<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>گروه مهندسی کامپیوتر دانشگاه پیکسل</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="logo.gif">
</head>
<body>
<header>
    <img src="res/img/logo.jpg" alt="Pixel University">

    <h1>گروه مهندسی کامپیوتر دانشگاه پیکسل</h1>
</header>
<div class="wrapper">
    <ul class="navigation">
        <li><a href="#">امور دانشجویی</a></li>
        <li><a href="#">امور آموزشی</a></li>
        <li><a href="#">امور پژوهشی</a></li>
        <li><a href="#">انجمن علمی</a></li>
        <li><a href="#">ورود</a></li>
    </ul>

    <div id="main">
        <nav>
            <div class="nav_header"><a href="#"><span id="hashtag"># </span>فهرست مطالب</a></div>
            <ul class="nav_articles">
                <li><a href="#">امور دانشجویی</a></li>
                <li><a href="#">امور آموزشی</a></li>
                <li><a href="#">امور پژوهشی</a></li>
                <li><a href="#">انجمن علمی</a></li>
                <li><a href="#">ورود</a></li>
                <li><a href="#">ورود</a></li>
                <li><a href="#">ورود</a></li>
            </ul>
        </nav>
        <article>
            <div class="article">
                <div class="nav_header"><a href="#"><span id="hashtag"># </span>کلاس فوق العاده درس مبانی کامپیوتر و
                    برنامه سازی</a></div>
                <p>کلاس فوق العاده درس مبانی کامپیوتر و برنامه سازی برای هر دو گروه دانشجویان روز سه شنبه 07/09/1396
                    ساعت 15-17 در آمفی تئاتر شهید نورانی دانشکده فنی برگزار می گردد.</p>

                <div class="author">دکتر شکریان</div>
                <div class="date">5 آذر 1396</div>
            </div>
            <div class="article">
                <div class="nav_header"><a href="#"><span id="hashtag"># </span>کلاس فوق العاده درس مبانی کامپیوتر و
                    برنامه سازی</a></div>
                <p>کلاس فوق العاده درس مبانی کامپیوتر و برنامه سازی برای هر دو گروه دانشجویان روز سه شنبه 07/09/1396
                    ساعت 15-17 در آمفی تئاتر شهید نورانی دانشکده فنی برگزار می گردد.</p>

                <div class="author">دکتر شکریان</div>
                <div class="date">5 آذر 1396</div>
            </div>
            <div class="article">
                <div class="nav_header"><a href="#"><span id="hashtag"># </span>کلاس فوق العاده درس مبانی کامپیوتر و
                    برنامه سازی</a></div>
                <p>کلاس فوق العاده درس مبانی کامپیوتر و برنامه سازی برای هر دو گروه دانشجویان روز سه شنبه 07/09/1396
                    ساعت 15-17 در آمفی تئاتر شهید نورانی دانشکده فنی برگزار می گردد.</p>

                <div class="author">دکتر شکریان</div>
                <div class="date">5 آذر 1396</div>
            </div>
            <div class="article">
                <div class="nav_header"><a href="#"><span id="hashtag"># </span>کلاس فوق العاده درس مبانی کامپیوتر و
                    برنامه سازی</a></div>
                <p>کلاس فوق العاده درس مبانی کامپیوتر و برنامه سازی برای هر دو گروه دانشجویان روز سه شنبه 07/09/1396
                    ساعت 15-17 در آمفی تئاتر شهید نورانی دانشکده فنی برگزار می گردد.</p>

                <div class="author">دکتر شکریان</div>
                <div class="date">5 آذر 1396</div>
            </div>
        </article>
        <div class="prof">
            <div class="avatar"></div>
            <div class="bio">
                <h2>حمیدرضا احمدی فر</h2>
                <br>

                <p>آخرین مدرک تحصیلی : 1392- دکتری- دانشگاه شهید بهشتی تهران.</p>
                <br>

                <p>مدیر گروه مهندسی کامپیوتر دانشکده فنی و پردیس دانشگاهی - مدیر گروه مهندسی کامپیوتر و فناوری اطلاعات
                    دوره مجازی از شهریور 1393 تا کنون</p>
            </div>
        </div>


    </div>
    <footer>

    </footer>
</div>
</body>
</html>