{% extends "base.html" %}
{% block content %}
    <div id="main">
        <nav>
            <div class="nav_header"><a href="#"><span id="hashtag"># </span>فهرست مطالب</a></div>
            <ul class="nav_articles">
                <li><a href="/about">معرفی گروه</a></li>
                <li><a href="/">اخبار</a></li>
                <li><a href="#">فرم ها</a></li>
                <li><a href="#">وضعیت برگزاری کلاس ها</a></li>
                <li><a href="#">سرفصل دروس</a></li>
                {% if current_user.is_authenticated and current_user.isProf == True%}
                <li><a href="/add/news">خبر جدید +</a></li>
                {% endif %}
            </ul>
        </nav>
        <article>
            {% for item in x %}
                <div class="article">
                    <div class="nav_header"><a href="/post/{{ item.id }}"><span id="hashtag"># </span>{{ item.title }}
                    </a></div>
                    <p>{{ item.content }}</p>

                    <div class="categories"><span id="hashtag"># </span>برچسب :
                        {% for tag in item.tags %}
                            <a href="/tag/{{ tag.id }}">{{ tag.keyword }}&ensp;</a>
                        {% endfor %}
                    </div>
                    <div class="author"><a href="/post/{{ item.id }}">ادامه مطلب</a></div>
                </div>
            {% endfor %}


        </article>
        <h3 style="margin: 20px;direction: rtl"><span id="hashtag"># </span>مدیر گروه کامپیوتر دانشگاه پیکسل</h3>
        <div class="prof">
            <div class="avatar"></div>
            <div class="bio">
                <h2>حمیدرضا احمدی فر</h2>
                <br>

                <p>آخرین مدرک تحصیلی : 1392- دکتری- دانشگاه شهید بهشتی تهران.</p>
                <br>

                <p>مدیر گروه مهندسی کامپیوتر دانشکده فنی و پردیس دانشگاهی - مدیر گروه مهندسی کامپیوتر و فناوری اطلاعات
                    دوره مجازی از شهریور 1393 تا کنون</p>
            </div>
        </div>


    </div>
{% endblock %}