{% extends "base.html" %}
{% block content %}
    <div class="login">
        <div class="article">
            <div class="nav_header"><a href="#"><span id="hashtag"># </span>ثبت نام</a></div>
            <form action="/register" method="post">

                <label for="username">نام و نام خانوادگی</label>

                <div class="input_container">
                    <input class="text_input" type="text" name="name" id="name" style="text-align: right">
                </div>

                <label for="username">نام کاربری</label>

                <div class="input_container">
                    <input class="text_input" type="text" name="username" id="username">
                </div>

                <label for="password">کلمه عبور</label>

                <div class="input_container">
                    <input class="text_input" type="password" name="password" id="password">
                </div>
                <div class="btn">
                    <a href="/login" class="register">ورود</a>
                    <input type="submit" id="submit" value="ثبت نام">
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}